<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>local.iogpu.wired_limit_mb</string>
		<key>RunAtLoad</key>
		<true />
		<key>StandardErrorPath</key>
		<string>/usr/local/var/log/iogpu/iogpu.wired_limit_mb.err.log</string>
		<key>StandardOutPath</key>
		<string>/usr/local/var/log/iogpu/iogpu.wired_limit_mb.out.log</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/sbin/sysctl</string>
			<string>iogpu.wired_limit_mb=20480</string>
		</array>
	</dict>
</plist>

